{% extends 'layout.html' %}

<!---->

{% block contenu %}
<section id="welcome">
    <div class="container">
        <div class="p-welcome">
            <img class="logo-welcome block wow fadeIn" data-wow-delay=".1s" src="{{ url_for('static', filename='/images/logo-white.svg') }}">
            <h1 class="block wow fadeIn" data-wow-delay=".2s">Un catalogue de plus de 3500 titres !</h1>
            <h2 class="block wow fadeIn" data-wow-delay=".3s">Vos 5 premiers titres gratuits*</h2>
        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <h1 class="title">Nos services</h1>
        <hr class="divider" style="width:50%; border-color:#CCC; display: block; margin: 2em auto;">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".6s">
                        <div class="icon">
                            <i class="fa fa-truck"></i>
                        </div>

                        <h3>Instantané</h3>
                        <p>Recevez vos produits dans les plus bref délais</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="0.8s">
                        <div class="icon">
                            <i class="fa fa-list"></i>
                        </div>
                        <h3>3500+ Produits</h3>
                        <p>Tous les styles de musiques en un seul site.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1s">
                        <div class="icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <h3>Achat en ligne</h3>
                        <p>Payement sécurisé et sans frais supplémentaire.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1.2s">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="95" fill="#989898" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                                <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
                            </svg>
                        </div>
                        <h3>Cryptomonnaies acceptées</h3>
                        <p>Car nous préviligions la sécurité de vos transactions nous acceptons aussi les crytomonnaies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container-fw">
        <div class="row">
            <div class="col">
                <div class="block text-center">
                    <img class="img-responsive rounded-circle center-block" src="{{ url_for('static', filename='/images/testimonials/1.jpg') }}" alt="" style="height:100px;">
                </div>
                <div class="block">
                    <h3 style="color:#001d53;" class="text-center font-weight-bold">Rapide et génial - Nicolas Reveret</h3>
                    <p style="color:#111;font-size:14px;">
                        Je n'est jamais vu un site aussi efficace et peu cher comme celui, je le recommande vivement !
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="block text-center">
                    <img class="img-responsive rounded-circle center-block" src="{{ url_for('static', filename='/images/testimonials/1.jpg') }}" alt="" style="height:100px;">
                </div>
                <div class="block">
                    <h3 style="color:#001d53;" class="text-center font-weight-bold">Service incroyable! - Vianney de villers</h3>
                    <p style="color:#111;font-size:14px;">
                       J'ai acheter un album sans le vouloir nommé la tribu des villageois du groupe Agua, après avoir contacté le service après vente du site j'ai pu me le faire échangé contre un autre en très peu de temps.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
