{% extends 'layout.html' %}

<!---->

{% block head %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/albums.css') }}">
</head>
{% endblock %}

<!---->

{% block contenu %}
<h1 class="text-center py-5" style="color: aliceblue;">Albums de {{ artist['name'] }}</h1>

<div class="container mt-3">
    <ul class="list-group">
        {% for i in range (0,albums|length) %}
        <a href="liste_titres?AlbumId={{albums[i]['AlbumId']}}" style="text-decoration: none;">
            <li class="list-group-item my-1 d-flex align-items-center">

                <img class="img-responsive rounded-circle mx-2" style="width:50px;" src="{{ url_for('static', filename='./images/cd-icon.png') }}" alt="" />
                <h3 class="list-group-item-heading my-3 " style="width: fit-content; color: #001d53;"><strong>{{ albums[i]["Title"] }}</strong></h3>

            </li>
        </a>
        {% endfor %}
    </ul>
</div>

{% endblock %} {% block footer %} {% endblock %}