<!DOCTYPE html>
<!---->
{% extends 'layout.html' %}
<!---->
{% block contenu %}
<div class="container">
    <div class="my-5 py-5" style="height: 1000px;">
        <h1 class="text-center" style="color:aliceblue;">
            Message envoyé avec succès !
        </h1>
        <h2 class="text-center mt-3" style="color:aliceblue;">
            Elouan ou Louis vous répondra le plus vite possible.
        </h2>
        <h2 class="text-center" style="color:aliceblue;">
            <a style="color:aliceblue;" href="accueil">Retour à la page d'accueil  </a>
        </h2>
    </div>
</div>
{% endblock %}